/* #root{
    background-size: cover;
} */

body{
    color: #dedede;
    background-color: #000000;
    height: 100%;
    margin: 0;
  }

   #root {
    height: 100vh;   
    width: 100%; 
    margin: 0px auto;  
    background-image: url('./ui/rrt1.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    /* background-size:100% 100%; */
    } 